.item {
    width: 15em;
    height: 15em;
    overflow: hidden;
  
  }
  
  .item img {
    border-radius: 50%;
    border: 20px solid gray;
    width: 60%;
    height: 60%;
  }

  .name {
    font-weight: bold;
  }

  .name.notselected {
    display: none;
  }

  .img.selected{
    filter: grayscale(100%);
  }