.App {
  background-color: orangered;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2em;
}


.soundboard{
display: flex;
flex-wrap: wrap;
justify-content: center; 
}

.toolbar {
  justify-content: center;
  height: 2em;
}

@media screen and (min-width:540px){
  .soundboard {
    display: flex;

  }
}